*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background: linear-gradient(to right, #70e1f5, #ffd194); */
  background: rgb(189, 50, 95);
  background: linear-gradient(90deg, rgba(189, 50, 95, 1) 0%, rgba(72, 135, 211, 1) 78%, rgba(0, 212, 255, 1) 100%);
  font-family: Arial, Helvetica, sans-serif;
}

h1,.nbrCycle {
  text-align: center;
  margin: 1em;
}
h1 {
  font-size: 60px;
}

.temps {
  width:70%;
  min-width: 300px;
  display: flex;
  margin:10px auto;
}

.travail,.repos {
  flex:1;
  text-align: center;
  background-color: cornflowerblue;
  border: 1px solid black;
  padding : 50px;
  font-size: 30px;
  color: oldlace;
}
/*ACTION*/

button {
  outline: none;
  border:1px solid black;
}
.action {
  width:70%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  margin:auto;
}
.commencer,.pause,.reset {
  flex:1;
  padding: 20px 0;
  font-size: 20px;
  transition:all 300ms ease-in-out;
}

.commencer,.travail {
  border-radius: 10px 0 0 10px;
}
.reset,.repos {
  border-radius: 0 10px 10px 0;
}

.commencer:hover,.pause:hover,.reset:hover {
  background-color: darkorchid;
  color:white;
  /* transition:all 300ms ease-in-out; */
}
